.register-title {
    font-family: "Roboto";
    font-family: "helvetica";
    font-family: "Meirio";
    font-weight: 100;
    font-size: 1.3rem;
    color: gray;
    margin-left: 1em;
    height: 2em;
}

.register-title-block {
    margin-top: 3em;
}